<h1>Sign In</h1>

<%= form_with(url: "/sessions", method: :post) do |form| %>
  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :id, value: @phone %>
  </div>

  <br />

  <div>
    <%= form.submit 'Request SMS Code' %>
  </div>
<% end %>
